#root, html, body{
    height: 100vh;
}
body{
    margin: 0;
    background-color:rgb(26, 26, 99);
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   
}
.heading{
    font-size:6rem;
    color: #fff;
    font-family: Alata;
    margin:0;
    text-shadow: 5px 5px 10px black;
    display: flex;
    justify-content: center;
    padding: 5px;
    
}